.goal-info {
  .goal-info-subheader {
    @apply text-base font-bold p-1 pb-2 pt-2;
  }
  .goal-title {
    @apply text-2xl font-bold pt-0 pb-0;
  }
  .editable-input-and-show-value {
    @apply p-1 break-all;
  }
  .goal-weight {
    line-height: 2rem;
  }
  .goal-weight-input .icon {
    height: 2rem;
    color: #555 !important;
  }
  .h-auto {
    height: auto;
  }
}

.bg-image {
  background-image: url("/static/homepage.png");
  /* Full width */
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
